<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 定义一个任务类 -->
    <bean id="userServiceImpl" class="cn.itcast.service.system.impl.UserServiceImpl">
    </bean>
    <!-- 任务类描述 -->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="userServiceImpl"></property>
        <property name="targetMethod" value="sendBirthdayEmail"></property>
    </bean>
    <!-- 触发器  -->
    <bean id="mailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"></property>
        <property name="cronExpression" value="0 0 17 * * ?"></property>
    </bean>
    <!-- 总管理容器 -->
    <bean id="startQuartz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
        <property name="triggers">
            <list>
                <ref bean="mailTrigger"/>
            </list>
        </property>
    </bean>


</beans>
